h1{
    text-align: center;
    font-size: 450%;
    margin-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
     
}
body{
    background-color: rgb(130, 173, 238);
    
}